font-family: 'Verdana', sans-serif;
font-family: 'Georgia', serif;
html {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    height: 100%:
}

body {
    padding-top: 40px;
    margin: 0 auto;
    overflow-x: hidden;
    padding-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Verdana";
}

p {
    font-family: "Georgia";
}

#links {
    /*margin-top: 50px;*/
    font-size: 27px;
    background-color: #F8F8F8;
}

#about {
    margin-top: 70px;
}

#navtop {
    position: fixed;
}

#propic {
    background-color: white;
    padding: 3px;
    width: 300px;
}

h2 {
    font-size: 40px;
}

.no-wrap {
    white-space: nowrap;
}

.title {
    text-align: center;
    margin-top: 5px;
    font-size: 80px;
}

#resume-text {
    height: 100vh;
    text-align: center;
}

.text-blue {
    color: #0068ac;
}

.text-red {
    color: #b31b1b;
}

#about-me {
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 27px;
}

@media (max-width: 640px) {
    html {
        margin: 0 auto;
        padding: 0;
        overflow-x: hidden;
    }
    body {
        padding-top: 40px;
        margin: 0 auto;
        overflow-x: hidden;
    }
    #resume-text {
        height: 60vh;
    }
    #about-me {
        text-align: justify;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 70px;
        font-size: 17px;
    }
}
